---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Dr. Anthony Townsend is President and Founder of Star City Group, where he works around the world with industry, government and philanthropy on urban tech foresight, policy, and planning studies.
		</p>

	</div>
</div>


